version: '2.2'
services: 
  database:
    image: phpmyadmin/phpmyadmin 
    container_name: database
    restart: always 
    ports:
      - "3306:3306"     
    networks:
        dock_net:
          driver: bridge
    
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: tpachato 
    
   
