version: '2.2'
services:
  mysql_database:
    image: mysql:5.7
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: 1234
      MYSQL_DATABASE: wp_db  
      MYSQL_USER: wp_user 
      MYSQL_PASSWORD: 1234  

   
