version: '2.14'
services:
  database:
    image: mysql:5.7
    container_name: database
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: tpachat
    ports:
      - 3306:3306
    volumes: 
     - mysql:/var/lib/mysql

  angular: 
    depends_on:
      - database
    image: esprituser/angularproject
    container_name: angular
    ports:
      - 8000:80
    

  
