version: '2.2'
services:
  mysql_database:
    image: mysql
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: 1234
      MYSQL_DATABASE: wp_db  
      MYSQL_USER: wp_user 
      MYSQL_PASSWORD: 1234  
  ports:
    - "3308:3306"
   
